
@media screen and (min-width: 768px){
  .container-1 {
  display: flex;


  }

  .container-2 {

    display:flex;
    justify-content: space-between;
  }

}

.container-1 div, .container-2 div{
  border: 1px black solid;
  padding: 15px;
}


.box-1 {
  flex:2;
  order:2;
}

.box-2 {
  flex:1;
  order:1;
}

.box-3 {
  flex:1;
  order:3;
}


.container-2box {
flex-basis: : 10%;


}
